.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* es1 */
    transition: background-color 3s;
}
.ex-1-square:hover{
    background-color: red;
}
/* /es1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    /* es2 */
    transition-duration: 2s;
    transition-delay: .3s;
    transition-timing-function: ease;
}
.ex-2-square:active{
   width: 200px;
}
/* /es2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    /* es3 */
    transition: 2s .3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* /es3 */


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    /* es4 */
    transition: background 2s ease-out .3s ;
}
.ex-4-square:hover{
    background: none;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    /* es5 */
    transition: transform 1s ease-in .3s;
}
.ex-5-square:hover{
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(.5);
}
/* /es5 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* es6 */
.ex-6-img{
    transition: filter 1s linear;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* /es6 */

/* es7 */
.ex-7-img{
  animation: filters 6s .3s 3;
}

@keyframes filters {
    0%,100%{
        filter:drop-shadow(-9px 21px 19px grey);
    }
    33%{
        filter: opacity(80%);
    }

    66%{
        filter: none;
    }
}
/* /es7 */

/* es8 */
.ex-8-img{
    animation: filters-border-radius 8s .8s 2;
  }
  
  @keyframes filters-border-radius {
      0%,100%{
          filter: opacity(80%);
          border-radius: 0;
      }
      50%{
          filter: grayscale(80%);
          border-radius: 50%;
      }
  
      75%{
          filter: none;
          border-radius:0%
      }
  }
  /* /es8 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    /* es9 */
    animation: filter-border-scale 4s .5s step-start;
}

@keyframes filter-border-scale {
    0%,100%{
        filter: opacity(80%);
        border-radius: 0;
        transform: scale(1);
    }
    50%{
        filter: grayscale(80%);
        border-radius: 50%;
        transform: scale(1.5);
    }

    80%{
        filter: none;
        border-radius:4%;
        transform: scale(.8);
    }
}
/* /es9 */


.ex-10-icon {
    font-size: 60px;
    /* es10 */
    animation: spin 3s infinite linear;
    /* sistemare e cercare la timing-function adatta; */
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* /es10 */

.ex-11-icon {
    font-size: 60px;
    /* es11 */
    animation: spin-reverse 2s linear 3;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}   
@keyframes spin-reverse {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* /es11=> non funziona */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}


/* es12 */
.ex-12-button{
    animation: button-width-relative 2s ease-in-out .3s;
}
@keyframes button-width-relative {
    0%,100%{
        width: 200px;
        position:relative;
    }
    50%{
        width: 100px;
        position: static;
    }
}
/* /es12 */

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    /* bottom: -10px;
    right: 20%; */
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/* es13 */
.ex-13-button .ex-13-bottom-white{
    bottom: -10px;
    right: -15%;
    animation: white-button 4s linear .3s;
}
.ex-13-top-white{
    display: none;
}
@keyframes white-button {
    0%{
        bottom: -10px;
        right: -15%;
        transform: translate();
    }
    25%{
        bottom: -10px;
        right:85%;
        transform: translate(0);
    }
    50%{
        bottom: 85%;
        right: 85%;
        transform: translate(0);
    }
    75%{
        bottom: 85%;
        right: -15%;
        transform: translate(0);
    }
}
/*  /es13 */